{{ define "content" }}

<style>
    .avatar {
        width: 100px;
        height: 100px;
        border: 1px solid black;
        border-radius: 50%;
        object-fit: cover;
        display: none;
    }
</style>

<div id="page-content-wrapper">
    <div class="container-fluid xyz">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-5">
                    <h5>Profil Ayarları</h5>
                    {{ range $index, $value := .User }}
                    <form action="/user-edit" method="post" class="mt-3 ms-3" id="nameEmail">
                        <!-- <div class="d-flex align-items-center">
                            <div style="width: 50%;">
                                <label class="form-label d-flex align-items-center" for="avatarInput"><span><i
                                            class="bi bi-person-bounding-box me-2"
                                            style="font-size: x-large;"></i></span>Profil Resmi</label>
                                <input style="width: 100%;" class="form-control" type="file" accept="image/*"
                                    id="avatarInput">
                            </div>
                            <img id="avatar" alt="Avatar" class="avatar ms-5">
                        </div>
                        <br> -->
                        <div>
                            <label class="form-label d-flex align-items-center" for="name"><span><i
                                        class="bi bi-person-vcard me-2" style="font-size: x-large;"></i></span>Ad
                                Soyad</label>
                            <input style="width: 50%;" class="form-control" type="text" name="name" id="name"
                                value="{{$value.Username}}">
                        </div>
                        <br>
                        <div>
                            <label class="form-label d-flex align-items-center" for="email"><span><i
                                        class="bi bi-envelope me-2" style="font-size: x-large;"></i></span>Email</label>
                            <input style="width: 50%;" class="form-control" type="email" name="email" id="email"
                                value="{{$value.Email}}">
                        </div>
                        <br>
                        <div>
                            <label class="form-label d-flex align-items-center" for="bio"><span><i
                                        class="bi bi-person-lines-fill me-2"
                                        style="font-size: x-large;"></i></span>Hakkımda</label>
                            <textarea style="width: 50%;" class="form-control" name="bio" id="bio"
                                placeholder="Kendiniz hakkında bir şeyler anlatın..." rows="5"
                                maxlength="400">{{$value.Bio}}</textarea>
                        </div>
                    </form>
                    <br>
                    <div class="ms-3 mb-3">
                        <label class="form-label d-flex align-items-center" for="password"><span><i
                                    class="bi bi-lock me-2" style="font-size: x-large;"></i></span>Şifre</label>
                        <button class="btn btn-warning" type="button" data-bs-toggle="modal"
                            data-bs-target="#passwordModal">Şifre Değiştir</button>
                    </div>
                    <br>
                    <button type="submit" form="nameEmail" class="btn btn-primary">Değişiklikleri Kaydet</button>
                    {{ end }}
                </div>
                <hr>
                <div>
                    <h5>Hesap Ayarları</h5>
                    <button type="button" class="btn btn-danger mt-3 ms-3" data-bs-toggle="modal"
                    data-bs-target="#accountDeleteModal">Hesabımı Sil</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--accountDeleteModal-->
<div class="modal fade" id="accountDeleteModal" tabindex="-1" aria-labelledby="accountDeleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="accountDeleteModalLabel">Hesabımı Sil</h5>
            </div>
            <div class="modal-body">
                <form action="/user-delete" method="post" id="accountDeleteForm">
                    <b>Hesabınızı silmek istediğinize emin misiniz?</b>
                    <br><br>
                    <p>Bu işlemin geri dönüşü yoktur.</p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                <button type="submit" form="accountDeleteForm" class="btn btn-danger">Sil</button>
            </div>
        </div>
    </div>
</div>

<!-- passwordModal -->
<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="passwordModalLabel">Şifre Değiştir</h5>
            </div>
            <div class="modal-body">
                <form action="/password-change" method="post" id="passwordForm">
                    <div>
                        <div>
                            <input class="form-control mb-3" type="password" name="passwordfirst" id="passwordfirst"
                                placeholder="Yeni şifrenizi girin...">
                            <input class="form-control" type="password" name="password" id="password"
                                placeholder="Yeni şifrenizi tekrar girin...">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                <button type="submit" form="passwordForm" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<!--passwordControl-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const password1 = document.getElementById('passwordfirst');
        const password2 = document.getElementById('password')
        const form = password1.closest('form');

        form.addEventListener('submit', function (e) {
            if (password1.value !== password2.value) {
                e.preventDefault();
                alert('Şifreler eşleşmiyor. Lütfen kontrol ediniz.');
            }
        });
    });
</script>

<script>
    document.getElementById('avatarInput').addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const img = document.getElementById('avatar');
                img.src = e.target.result;
                img.style.display = 'block';
            }
            reader.readAsDataURL(file);
        }
    });
</script>
{{ end }}